{% extends "layouts/layouts.html" %} 
{% block title %} 
{{title}} 
{% endblock title %} 
{% block content %}
{{title}}
{{content}}

    {% if messages  %}
            {% for  message in messages  %}
                <div class="alert alert-success">
                {{message}}
                
                </div>    
            {% endfor %}
        
        {% endif %}

    {% if user.email %}
            <br><hr><br>
            <h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
            <p>{{user.email}}</p>
        {% else %}
                <h2>Por favor inicia sesión...</h2>
        {% endif %}
{% endblock content %}